<launch>
    <group ns="spider">
        <node pkg="mtrespider" type="ferrosensor" name="ferrosensor"/>
        <node pkg="mtrespider" type="transducerarm" name="transducerarm">
            <remap from="transducerarm/samples" to="/spider/ampsensor/samples"/>
        </node>
        <node pkg="mtrespider" type="ampsensor" name="ampsensor"/>
        <node pkg="mtrespider" type="web_server" name="web_server"/>
        <node pkg="rosbridge_server" type="rosbridge_websocket" name="rosbridge_websocket"/>
        <node pkg="web_video_server" type="web_video_server" name="web_video_server"/>
        <group ns="camera/front">
            <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node">
                <param name="device" type="string" value="/dev/video0"/>
                <param name="width" type="int" value="640"/>
                <param name="height" type="int" value="480"/>
                <param name="fps" type="int" value="15"/>
            </node>
            <!-- <node pkg="image_view" type="image_view" name="image_view">
                <remap from="image" to="image_raw"/>
            </node> -->
        </group>
        <group ns="camera/rear">
            <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_node">
                <param name="device" type="string" value="/dev/video1"/>
                <param name="width" type="int" value="640"/>
                <param name="height" type="int" value="480"/>
                <param name="fps" type="int" value="15"/>
            </node>
            <!-- <node pkg="image_view" type="image_view" name="image_view">
                <remap from="image" to="image_raw"/>
            </node> -->
        </group>
    </group>
</launch>
